/*
.navbar.navbar-default{
background: #3097d1 !important;
}

.a.navbar-brand{
color: red !important;
}*/
div.abc {



margin: 0 auto;
background: #fff !important;
width: 90%;
height: 1000px;

}
